<app-header></app-header>

    <h4 style="text-align: center;">Sign in to Your Private Vault</h4>

    <div class="container">

        <div class="login">
        <form >
            <div>
            
                <label for="email"> Email Address:</label><br> 
            
                <input type="text" name="email" id=""><br>
            
                <label for="password">Password:</label><br>
            
                <input type="password" name="password" id=""><br>
            </div>

            <p>Forgot your password? </p><br>

            <button routerLink="/privot-dashboard"class="btn-form">SIGN IN</button>
        </form>
        </div>
    </div>


<app-footer></app-footer>