<app-header></app-header>

<H2 class="three"><img class="ONE" src="./assets/privot logo.png" alt="">PRIVOT</H2>
    <h4 style="text-align: center;">sign in to your private vault</h4>

    <div class="container">

        <div class="login">
        <form >
            <label for="email"> email address:</label><br> 
            <input type="text" name="email" id=""><br>
            <label for="password">password:</label><br>
            <input type="password" name="password" id=""><br>

            <p>forgot your password? </p><br>

            <button>SIGN IN</button>
        </form>
        </div>
    </div>


<app-footer></app-footer>