.secondp{
    font-size: 30px;
}
.formsection{
    display: flex;
   justify-content: space-between;
   margin-left: 30px;
   margin-right: 30px;
}
form{
    background-color: rgba(57, 43, 22, 0.83);
    color: white;
    padding: 2rem;
    height: 20rem;
    
}