<app-header></app-header>
<div class="formsection">
    <div>
        <span class="secure">Secure your </span>
        <span class="secondp">Documents</span>
        <span>
          <img src="./assets/F5E8C7 (5).png" alt="padlock"> 
        </span>
    </div>
    <div>
        <form>
            <div class="mb-3">
              <label for="exampleInputFullName" class="form-label">Full Name:</label>
              <input type="fullname" name="exampleInputFullName" id="exampleInputFullName"class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email Address:</label>
                <input type="email_help" class="form-control" id="exampleInputEmail1">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password:</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
              <small class="form-text">Your password must be more than 8 characters long, should contain at least 1 Uppercase, 1 Lowercase, 1 Numeric and 1 special character.</small>
            </div>
            <div class="mb-3">
              <label for="exampleInputConfirmPassword" class="form-label">Confirm Password:</label>
              <input type="Confirm" class="form-control" id="exampleInputConfirmPassword">
          </div>
            <button type="" class="btn-form btn-primary btn-lg">Join Now</button>
          </form>
    </div>
</div>



<app-footer></app-footer>