<app-header></app-header>

<div class="jumbotron">
    <h1 class="display-4">Privot is the most secure and<br />
                          best easy digital storage vault <br />
                          to access your personal<br />
                          documents and credentials<br />
  
      </h1>
    <p class="downd">upload, store, update, share and delete files <br />
      and documents on private vault webspace <br />
  </p>
   <div class="btncover">
    <button class="btn1 btn-primary btn-lg" routerLink="/auth/sign-up" role="button">TRY FOR FREE</button>
    <button class="btn2 btn-primary btn-lg" routerLink="/auth/login" role="button">SIGN IN</button>
   </div> 
    
  </div>


<app-footer></app-footer>