
/* .jumbotron{
    background-color:w; 
} */
.btn1{
	margin-top: 25px;
	margin-right: 50px;
	text-decoration: Poppins;
	background-color: rgba(170,28,91,1);
    border: 2px solid #AA1C5B;
    margin-bottom: 50px;
    padding: 0.5rem 8rem;
    width: 30%;
    margin-left: 80px;
    text-decoration: Poppins;
     border-radius: 1rem;
    margin-top: 1rem;
}
.btn2{
   

    margin-top: 25px;
	margin-right: 50px;
	text-decoration: Poppins;
	background-color: rgba(170,28,91,1);
    border: 2px solid #AA1C5B;
    margin-bottom: 50px;
    padding: 0.5rem 8rem;
    width: 30%;
    margin-left: 80px;
    text-decoration: Poppins;
     border-radius: 1rem;
    margin-top: 1rem;
    
}

.display-4{
    font-weight: 80%;
    font-style: regular;
    font-size: 55px;
    vertical-align: top;
    align-content: center;
    position: relative;
    text-decoration: Poppins;
    line-height: 100%;
    word-spacing: 10px;
    padding: 10px 50px;

    
    
    
}
.downd{
    margin-left:50px;
    font-size: 25px;
    font-weight: 300;
    text-decoration: Poppins;
    font-style: regular;
    line-height: 150%;
    word-spacing: 20%;
    vertical-align: top;
    word-spacing: 2px;
    
    
}
.featurette{
    background-color:white;
    padding:10px;
    margin-bottom:4rem;
}
.col-md-7{
   padding: 50px;;
}
.privy{
    font-size: 55px;
    color: #AA1C5B;
    margin-right:5px;
    margin-left:30px;
}
.lead{

    margin-top:20px;
}
.pheading{
    font-weight:80% ; 
    font-size: 55px;
    color:#AA1C5B ;
}
.card-header{
    background-color: #AA1C5B; 
    border: 2px solid #AA1C5B;
} 


.btnprice{
    background-color: #AA1C5B;
    border: 2px solid #AA1C5B;
}