<app-header></app-header>

<div class="jumbotron">
    <h1 class="display-4">PRIVOT is the most secure and<br />
                          best easy digital storage vault <br />
                          to access your personal<br />
                          documents and credentials<br />
  
      </h1>
    <p class="downd">upload, store,update,share and delete files and documents on private vault webspace </p>
   <div class="btncover">
    <button class="btn1 btn-primary btn-lg" href="#" role="button">TRY FOR FREE</button>
    <button class="btn2 btn-primary btn-lg" href="#" role="button">SIGN IN</button>
   </div> 
    
  </div>


<app-footer></app-footer>