.footer-container {
    font-family: Arial, Helvetica, sans-serif;
}

.footer-top {
    margin-bottom: 100px;
}

img {
    width: 30%;
}

.footer-cap{
    font-size: 20px;
    opacity: 0.8;
}

.footer-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 2.3em;
}

.footer-nav a li{
    list-style-type: none;
    opacity: 0.8;
    color: #000;
    font-size: 14px;
}

.footer-nav .head {
    font-weight: 800;
    opacity: 1;
    list-style: none;
}

.rounded {
    background-color: rgb(65, 63, 63);
    color: blanchedalmond;
    padding: 5px;
}
.fa {
    clip-path: circle();
    outline: none;
    padding: 10px;
    overflow-x: wrap;
}
