<div class="footer-container container">
    <div class=" row footer-top">
        <div class="col-md-4 left-side">
            <img src="assets/F5E8C7 (7).png" alt="">
            <div>
                <p class="footer-cap mt-3">Privot facilitates digital storage of the user personal documents and credentials. Safety first.</p>
                <div class="icons mt-5">
                    <a class="btn btn-floating m-1" href="#!" role="button"><i class="fa fa-instagram fa-2x rounded"></i></a>
                    <a class="btn btn-floating m-1" href="#!" role="button"><i class="fa fa-facebook fa-2x rounded"></i></a>
                    <a class="btn btn-floating m-1" href="#!" role="button"><i class="fa fa-youtube fa-2x rounded"></i></a>
                    <a class="btn btn-floating m-1" href="#!" role="button"><i class="fa fa-linkedin fa-2x rounded"></i></a>
                    <a class="btn btn-floating m-1" href="#!" role="button"><i class="fa fa-twitter fa-2x rounded"></i></a>
                </div>
            </div>
        </div>
        
        <div class="col-md-8 right-side mt-5">
            <div class="row">
                <div class="col-md-3">
                    <ul class="footer-nav">
                        <li class="head">MENU</li>
                        <a href=""><li>Why Privot?</li></a>
                        <a href=""><li>Plans & Pricing</li></a>
                        <a href=""><li>Support</li></a>
                        <a href=""><li>Security</li></a>
                        <a href=""><li>Free Trail</li></a>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="footer-nav">
                        <a href=""><li class="head">PRODUCT</li></a>
                        <a href=""><li>Features</li></a>
                        <a href=""><li>Solutions</li></a>
                        <a href=""><li>Free Trial</li></a>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="footer-nav">
                        <a href=""><li class="head">SUPPORT</li></a>
                        <a href=""><li>Help Center</li></a>
                        <a href=""><li>Contact Support</li></a>
                        <a href=""><li>Cookie Policy</li></a>
                        <a href=""><li>Manage Cookies</li></a>
                        <a href=""><li>Privacy & Terms</li></a>
                        <a href=""><li>Language</li></a>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="footer-nav">
                        <a href=""><li class="head">COMPANY</li></a>
                        <a href=""><li>About Us</li></a>
                        <a href=""><li>Leadership</li></a>
                        <a href=""><li>News</li></a>
                        <a href=""><li>Carrers</li></a>
                        <a href=""><li>Contact Us</li></a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <p>&#169; 2022 Privot Inc. All Rights Reserved</p>
    
</div>